{% load staticfiles %}
{% include 'check_logstate.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/placeType.css' %}" />
<div id="placeType_EditDiv">
	<form id="placeTypeModifyForm" enctype="multipart/form-data"  method="post">
        {% csrf_token %}
		<div>
			<span class="label">会议室类型id:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="placeType_placeTypeId_modify" name="placeType.placeTypeId" value="{{ placeTypeId }}" style="width:200px" />
			</span>
		</div>

		<div>
			<span class="label">会议室类型名称:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="placeType_placeTypeName_modify" name="placeType.placeTypeName" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">会议室类型说明:</span>
			<span class="inputControl">
				<textarea id="placeType_placeTypeDesc_modify" name="placeType.placeTypeDesc" rows="8" cols="60"></textarea>

			</span>

		</div>
		<div class="operation">
			<a id="placeTypeModifyButton" class="easyui-linkbutton">更新</a> 
		</div>
	</form>
</div>
<script src="{% static 'js/PlaceType/placeType_modify.js' %}"></script>
